Repository Sprint-Part3-Team14/Taskify, pull requests merged in 2024-04, with the labels that each got.

#4 [#2] feat/#2_Card
  app/dashboard/page.tsx
  app/layout.tsx
  app/page.tsx
  components/Card/Card.tsx
  package-lock.json
  package.json
  postcss.config.js
Labels: Component

#10 [#9] feat/#9 _Landing page
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/issue_template.md
  .github/pull_request_template.md
  app/(landing)/fix.md
  app/(landing)/layout.tsx
  app/(landing)/page.tsx
  app/layout.tsx
  app/page.tsx
  components/landing/article.tsx
  components/landing/footer.tsx
  components/landing/header.tsx
  components/landing/mainSection.tsx
  components/landing/setting.tsx
  components/landing/settingSection.tsx
  components/landing/subarticle.tsx
  constant/fix.md
  hooks/fix.md
  interface/fix.md
  layout/fix.md
  package-lock.json
  package.json
  public/logo/logo_large.jpg
  styles/globals.css
  tailwind.config.ts
  utils/fix.md
Labels: Page

#14 [#1] Feat/#1 button
  app/(landing)/page.tsx
  components/common/button/add.tsx
  components/common/button/addColumn.tsx
  components/common/button/addDashboard.tsx
  components/common/button/confirm.tsx
  components/common/button/login.tsx
  components/common/button/pagenation.tsx
  components/common/button/remove.tsx
  package-lock.json
  package.json
  public/fonts/GmarketSansTTFBold.ttf
  public/fonts/GmarketSansTTFLight.ttf
  public/fonts/GmarketSansTTFMedium.ttf
  public/icon/plus_violet.svg
  styles/globals.css
Labels: Component

#18 [#7] feat/#7 dashboard
  app/(dashboard)/dashboard/[id]/initial-data.js
  app/(dashboard)/dashboard/[id]/mock.js
  app/(dashboard)/dashboard/[id]/page.tsx
  components/Card/Card.tsx
  components/Chip/NumberChip.tsx
  components/Chip/ProgressChip.tsx
  components/Chip/TagChip.tsx
  components/dashboard/AddButton/AddButton.tsx
  components/dashboard/Column/Column.tsx
  components/dashboard/DashboardList/DashboardList.tsx
  components/dashboard/DashboardTitle/DashboardTitle.tsx
  interface/Card.ts
  interface/Chip.ts
  interface/Dashboard.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: Page, Layout

#23 [#20] Feat/#20 SignIn Page
  app/signin/layout.tsx
  app/signin/page.tsx
  app/signup/layout.tsx
  app/signup/page.tsx
  package-lock.json
  public/logo/main_site_logo.png
  utils/handleToken.ts
Labels: Page

#24 [#0] 🐛 Fix path issue in dev branch
  app/(dashboard)/dashboard/[id]/initial-data.js
  app/(dashboard)/dashboard/[id]/page.tsx
  app/dashboard/page.tsx
  app/mydashboard/page.tsx
  app/mypage/page.tsx
  app/signin/page.tsx
  components/Card/Card.tsx
  components/Chip/ProgressChip.tsx
  components/dashboard/AddButton/AddButton.tsx
  components/dashboard/DashboardTitle/DashboardTitle.tsx
  components/landing/article.tsx
  components/landing/header.tsx
  components/landing/mainSection.tsx
  components/landing/settingSection.tsx
  components/landing/subarticle.tsx
  package-lock.json
  package.json
  tsconfig.json
Labels: Fix

#25 [#21] feat_#21/change password
  app/account-menu/layout.tsx
  app/account-menu/page.tsx
  app/modal/page.tsx
  components/InputImage/InputImage.tsx
  components/Modal/Button/ModalButton.tsx
  components/Modal/ModalLayout.tsx
  components/Modal/SuccessPasswordChangeModal.tsx
  components/Modal/WrongPasswordModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  hooks/fix.md
  hooks/useHandleModal.ts
  hooks/useInputValue.ts
  package-lock.json
  package.json
  utils/api/changePassword.ts
  utils/api/changeUserProfile.ts
  utils/api/changeUserProfileImage.ts
  utils/api/getLoginUserProfile.ts
  utils/fix.md
  utils/temporaryToken.ts
Labels: Page

#26 [#15] feat/#15_myInvitation
  app/(dashboard)/dashboard/[id]/initial-data.js
  app/(dashboard)/dashboard/[id]/mock.js
  app/(dashboard)/dashboard/[id]/page.tsx
  app/(dashboard)/my/page.tsx
  app/(dashboard)/myinvitation/page.tsx
  components/Modal/Button/ModalButton.tsx
  components/Modal/CreateDashboardModal.tsx
  components/Modal/ModalType.ts
  components/MyInvitation/EmptyMessage/EmptyMessage.tsx
  components/MyInvitation/InvitationList/InvitationList.tsx
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/MyInvitation/MyPagenation.tsx
  components/MyInvitation/SearchBar/SearchBar.tsx
  components/MyInvitation/constants.ts
  components/common/Chip/NumberChip.tsx
  components/common/Chip/ProgressChip.tsx
  components/common/Chip/TagChip.tsx
  components/common/button/add.tsx
  components/dashboard/AddButton/AddButton.tsx
  components/dashboard/Card/Card.tsx
  components/dashboard/Column/Column.tsx
  components/dashboard/DashboardTitle/DashboardTitle.tsx
  components/my/InviteList/InviteList.tsx
  components/my/InviteSection/InviteSection.tsx
  components/my/MyList/MyList.tsx
  components/my/SearchBar/SearchBar.tsx
  interface/myInvitation.ts
Labels: Page

#28 [#20] Feat/#20 SignIn Page (#1_Additional)
  app/signin/page.tsx
  constant/errorMessage.ts
  constant/fix.md
  constant/regexp.ts
Labels: Page

#29 [#21] feat/#21_edit my dash board change profile
  components/InputImage/InputImage.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  utils/temporaryToken.ts
Labels: Page

#30 [#17] feat/#17_editDashBoard_change dashboard color
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/components/PersonInChargeDropDown.tsx
  utils/api/changeDashBoard.ts
  utils/api/getDashBoardData.ts
Labels: Page

#33 [#32] Feat/#32 sign up page
  app/signup/layout.tsx
  app/signup/page.tsx
  components/common/button/login.tsx
  components/landing/header.tsx
  constant/errorMessage.ts
Labels: Page

#36 [#21, #17] feat/#21,#17/Mobile,Table UI
  app/mydashboard/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/ModalType.ts
  components/Modal/WrongPasswordModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/PageNation/PageNationButton.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/Table/TableLayout.tsx
Labels: Page

#37 [#15] Feat#/15 myinvitation
  app/(dashboard)/myinvitation/page.tsx
  components/Modal/CreateDashboardModal.tsx
  components/MyInvitation/EmptyMessage/EmptyMessage.tsx
  components/MyInvitation/InvitationList/InvitationList.tsx
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/MyInvitation/SearchBar/SearchBar.tsx
  components/MyInvitation/constants.ts
  components/common/button/add.tsx
  interface/button.ts
  interface/fix.md
Labels: Page

#44 [#43] Fix/#43_image import
  app/(dashboard)/mypage/page.tsx
  components/Modal/ModalLayout.tsx
  components/PageNation/PageNationButton.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
Labels: Fix, Refactor

#46 [#6] Refactor/#6_modal
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  app/(landing)/layout.tsx
  app/(landing)/page.tsx
  app/layout.tsx
  components/Modal/ModalLayout.tsx
  components/Modal/Portal.tsx
Labels: Modal

#47 [#34] Feat/#34 dash board header
  app/(dashboard)/account-menu/page.tsx
  app/(dashboard)/layout.tsx
  app/(sign)/signin/page.tsx
  components/dashboard/LayoutComponents/Buttons.tsx
  components/dashboard/LayoutComponents/Members.tsx
  components/dashboard/LayoutComponents/dashboardInfo.tsx
  components/dashboard/LayoutComponents/header.tsx
  components/dashboard/LayoutComponents/profileInfo.tsx
  components/dashboard/LayoutComponents/profilePopup.tsx
  components/dashboard/LayoutComponents/sideMenu.tsx
  components/dashboard/headers/dashboard.tsx
  components/dashboard/headers/dashboardLayout.tsx
  components/dashboard/headers/sideMenu.tsx
Labels: Component, Page

#49 [#7] Feat/#7 dashboard page
  app/(dashboard)/dashboard/[id]/page.tsx
  app/(dashboard)/myinvitation/page.tsx
  components/Modal/Button/ModalButton.tsx
  components/Modal/CreateColumnModal.tsx
  components/Modal/CreateDashboardModal.tsx
  components/Modal/EditColumnModal.tsx
  components/Modal/ModalType.ts
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/EditCardModal.tsx
  components/Modal/WorkModal/WorkModal.tsx
  components/Modal/WorkModal/components/InformationChip.tsx
  components/Modal/WorkModal/components/ModalComment.tsx
  components/Modal/WorkModal/components/PersonInChargeDropDown.tsx
  components/Modal/WorkModal/components/Popover.tsx
  components/Modal/WorkModal/components/ProgressDropDown.tsx
  components/Modal/input/ModalTextarea.tsx
  components/MyInvitation/EmptyMessage/EmptyMessage.tsx
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/MyInvitation/MyPagenation.tsx
  components/Table/MemberTable.tsx
  components/common/Chip/ProgressChip.tsx
  components/common/Chip/TagChip.tsx
  components/dashboard/Card/Card.tsx
  components/dashboard/Column/Column.tsx
  components/dashboard/ColumnTitle/ColumnTitle.tsx
  components/dashboard/constant.ts
  constant/importImage.ts
  interface/Chip.ts
  interface/Dashboard.ts
  public/images/icon/delete.svg
  utils/api/changeCard.ts
  utils/api/changeCardImage.ts
  utils/api/comment.ts
  utils/api/createCard.ts
  utils/api/createColumn.ts
  utils/api/createDashboard.ts
  utils/api/deleteColumn.ts
  utils/api/getCardList.ts
  utils/api/getColumnList.ts
  utils/api/getDashboardMember.ts
  utils/api/getMyDashboardList.ts
  utils/api/getMyInvitationList.ts
  utils/api/invitationResponse.ts
  utils/formatDate.ts
Labels: Page

#53 [#7] Feat/#7 dashboard page
  app/(dashboard)/dashboard/[id]/page.tsx
  components/Modal/CreateColumnModal.tsx
  components/Modal/CreateDashboardModal.tsx
  components/Modal/EditColumnModal.tsx
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/EditCardModal.tsx
  components/Modal/WorkModal/WorkModal.tsx
  components/Modal/WorkModal/components/InformationChip.tsx
  components/Modal/WorkModal/components/PersonInChargeDropDown.tsx
  components/Modal/WorkModal/components/ProgressDropDown.tsx
  components/Modal/input/ModalTextarea.tsx
  components/MyInvitation/InvitationList/InvitationList.tsx
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/MyInvitation/SearchBar/SearchBar.tsx
  components/MyInvitation/constants.ts
  components/dashboard/Column/Column.tsx
  components/dashboard/ColumnTitle/ColumnTitle.tsx
  components/dashboard/constants.ts
  utils/api/createCard.ts
  utils/api/deleteCard.ts
  utils/api/invitation.ts
Labels: Page

#55 [#1] Feat/#1 button fix
  components/common/button/add.tsx
  components/common/button/confirm.tsx
  components/common/button/login.tsx
  components/common/button/remove.tsx
  interface/button.ts
Labels: Component

#56 [#51] Refactor/#51_add error logic
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/ChangeDashBoardName/constant.ts
  components/InputImage/InputImage.tsx
  components/Modal/InviteModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/Table/TableLayout.tsx
  hooks/useDashboardId.ts
  utils/api/changeDashBoard.ts
  utils/api/changePassword.ts
  utils/api/changeUserProfile.ts
  utils/api/deleteDashBoard.ts
  utils/api/deleteDashBoardMember.ts
  utils/api/deletePostInvitation.ts
  utils/api/getDashBoardData.ts
  utils/api/getDashBoardMembers.ts
  utils/api/getInvitations.ts
  utils/api/getLoginUserProfile.ts
  utils/api/postInvitation.ts
Labels: Refactor

#58 [#57] Feat/#57_add 404 Page
  app/not-found.tsx
  constant/importImage.ts
  public/images/icon/404Icon.svg
  public/images/icon/arrow-right.svg
Labels: Page

#59 [#21] Refactor/#21_add SingleButton and Modify UI
  app/(dashboard)/account-menu/page.tsx
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/InviteModal.tsx
  components/Modal/ModalLayout.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/Table/TableLayout.tsx
  components/common/button/SingleButton.tsx
  utils/api/changeDashBoard.ts
  utils/api/changePassword.ts
  utils/api/changeUserProfile.ts
  utils/api/changeUserProfileImage.ts
  utils/api/deleteDashBoard.ts
  utils/api/deleteDashBoardMember.ts
  utils/api/deletePostInvitation.ts
  utils/api/getDashBoardData.ts
  utils/api/getDashBoardMembers.ts
  utils/api/getInvitations.ts
  utils/api/getLoginUserProfile.ts
  utils/api/inviteDashBoard.ts
  utils/api/postInvitation.ts
Labels: Page

#60 [#0,#34,#48] Fix bug for vercel and change dashboard layout
  .eslintrc.json
  app/(dashboard)/account-menu/page.tsx
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  app/(dashboard)/dashboard/[id]/page.tsx
  app/(dashboard)/layout.tsx
  app/(sign)/signin/page.tsx
  app/(sign)/signup/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/InputImage/InputImage.tsx
  components/Modal/CreateColumnModal.tsx
  components/Modal/CreateDashboardModal.tsx
  components/Modal/EditColumnModal.tsx
  components/Modal/InviteModal.tsx
  components/Modal/ModalLayout.tsx
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/EditCardModal.tsx
  components/Modal/WorkModal/WorkModal.tsx
  components/Modal/WorkModal/components/ModalComment.tsx
  components/Modal/WorkModal/components/PersonInChargeDropDown.tsx
  components/Modal/WorkModal/components/Popover.tsx
  components/Modal/WorkModal/components/ProgressDropDown.tsx
  components/Modal/WrongPasswordModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/MyInvitation/EmptyMessage/EmptyMessage.tsx
  components/MyInvitation/InvitationList/InvitationList.tsx
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/MyInvitation/SearchBar/SearchBar.tsx
  components/MyInvitation/constants.ts
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/common/Chip/ProgressChip.tsx
  components/common/button/add.tsx
  components/common/button/confirm.tsx
  components/common/button/remove.tsx
  components/dashboard/Card/Card.tsx
  components/dashboard/Column/Column.tsx
  components/dashboard/ColumnTitle/ColumnTitle.tsx
  components/dashboard/LayoutComponents/Buttons.tsx
  components/dashboard/LayoutComponents/header.tsx
  components/dashboard/LayoutComponents/members.tsx
  components/dashboard/LayoutComponents/profileInfo.tsx
  components/dashboard/LayoutComponents/profilePopup.tsx
  components/dashboard/LayoutComponents/sideMenu.tsx
  components/landing/footer.tsx
  components/landing/header.tsx
  constant/importImage.ts
  package-lock.json
  package.json
Labels: Component, Fix, API

#61 [#7] Feat/#7 fix dashboard
  app/(dashboard)/dashboard/[id]/page.tsx
  components/Modal/CreateDashboardModal.tsx
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/EditCardModal.tsx
  components/Modal/WorkModal/components/InformationChip.tsx
  components/Modal/WorkModal/components/ModalComment.tsx
  components/Modal/WorkModal/components/PersonInChargeDropDown.tsx
  components/Modal/constant.ts
  components/MyInvitation/InvitationSection/InvitationSection.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/dashboard/Card/Card.tsx
  components/dashboard/ColumnTitle/ColumnTitle.tsx
  utils/api/changeCard.ts
  utils/api/changeColumn.ts
  utils/api/deleteCard.ts
  utils/api/invitation.ts
  utils/api/invitationResponse.ts
Labels: Fix

#62 [#0] Fix
  app/(dashboard)/layout.tsx
  app/(sign)/signin/page.tsx
  app/(sign)/signup/page.tsx
  components/dashboard/LayoutComponents/Buttons.tsx
  components/dashboard/LayoutComponents/dashboardInfo.tsx
  components/dashboard/LayoutComponents/header.tsx
  components/dashboard/LayoutComponents/sideMenu.tsx
  components/landing/article.tsx
  components/landing/header.tsx
  components/landing/mainSection.tsx
  components/landing/setting.tsx
  components/landing/settingSection.tsx
  components/landing/subarticle.tsx
  constant/importImage.ts
  utils/api/getDashboardMember.ts
Labels: Page

#67 Refactor
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/InviteModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/PageNation/PageNationButton.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/common/Toast/Toast.tsx
  components/dashboard/LayoutComponents/header.tsx
  components/dashboard/LayoutComponents/members.tsx
  components/dashboard/LayoutComponents/sideMenu.tsx
Labels: Refactor

#66 [#65] Refactor/dashboard
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/InviteModal.tsx
  components/Modal/ModalType.ts
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
Labels: Refactor

#68 [#7] Feat/#7 fix dashboard
  components/Modal/WorkModal/CreateWorkModal.tsx
  components/Modal/WorkModal/WorkModal.tsx
  components/Modal/WorkModal/components/ModalComment.tsx
  components/MyInvitation/MyList/MyList.tsx
  components/dashboard/Column/Column.tsx
Labels: Fix

#69 [#0] Feat/HotFix
  app/(dashboard)/dashboard/[id]/edit/page.tsx
  app/(dashboard)/dashboard/[id]/page.tsx
  app/(sign)/signin/page.tsx
  components/ChangeDashBoardName/ChangeDashBoardName.tsx
  components/Modal/InviteModal.tsx
  components/MyDashBoard Page/accountMenu/ChangePassword.tsx
  components/MyDashBoard Page/accountMenu/EditProfile.tsx
  components/Table/InvitationHistory.tsx
  components/Table/MemberTable.tsx
  components/common/Toast/Toast.tsx
  components/dashboard/LayoutComponents/header.tsx
  components/dashboard/LayoutComponents/profileInfo.tsx
  components/dashboard/LayoutComponents/sideMenu.tsx
Labels: Fix
